<div class="footer">
  <div class="footer__info">
    <div class="footer__company">
      <p>© Моя компания, 2015. Моя компания - это вымышленное название. Любое сходство с реальными компаниями случайно.</p>
    </div>
    <div class="footer__form">
      <form>
        <label for="exampleEmailInput">Подпишитесь на рассылку</label>
        <input type="email" placeholder="test@mailbox.com" id="exampleEmailInput">
        <input class="footer__buttom" type="submit" value="OK">
        <style>
          .footer {
          padding: 70px 0;
            background-color: rgb(255, 209, 143);


          }
          .footer__info {
            display: flex;
            align-items: center;
            justify-content: space-around;

          }
          .footer__company {
            margin-right: 30px;
            max-width: 400px;

          }
          label{
          color: black;
          }
          input[type="email"] {
            background-color: #fff !important;
            padding-left: 20px !important;
            margin-top: 10px;
          }

          input[type="submit"] {
            border: none;
            text-align: center;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 11px;
            font-weight: bold;
          }

        </style>
      </form>
    </div>
  </div>
</div>
